:root {
    --conflower-blue: #5ea1fc;
    --royal-blue: #2469ca;
}

html {
    font-family: 'Roboto', serif;
}

body {
    margin: 0;
}

.main-container {
    min-height: 100vh;
    width: 100%;
    margin-top:-10px;
}

.header-container {
    position: fixed;
    z-index: 1;
    background: #fff;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px 10px;
    box-shadow: 1px 5px 10px rgba(94, 161, 252, 0.2);
}

.logo-container {
    padding: 10px;
}

.logo-text {
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
}

.logo-r {
    background-color: var(--conflower-blue);
}

.logo-s {
    background-color: var(--royal-blue);
    margin-left: -10px;
}

.nav-items-container {
    display: flex;
    align-items: center;
    margin-block: unset;
    margin-inline: unset;
    padding-inline: unset;
}

.nav-item {
    display: inline-block;
    color: black;
    padding: 20px;
}

.nav-item:hover {
    color: var(--conflower-blue);
    border-bottom: 2px solid var(--royal-blue);
}

.nav-link {
    color: inherit;
    text-decoration: none;
}

.nav-items-container .active {
    color: var(--conflower-blue);
    border-bottom: 2px solid var(--royal-blue);
}

.home-container {
    margin: 10px 0px;
    padding: 0px 10px;
    background-color: #fff;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.home-content, .Info-content, .contact-content,.about-content,.portfolio-content{
    min-height:80vh;
}

.title-content {
    width: 50%;
}

.image-content {
    position: relative;
}

.image-content img {
    width: 30em;
    height: auto;
}

.title-name {
    color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    margin-bottom: 5px;
}

.title-designation {
    color: var(--royal-blue);
    font-size: 28px;
}

.title-bio {
    color: rgba(1, 1, 1, 0.4);
    font-size: 18px;
    line-height: 1.8;
}

.btn-area{
    margin-right:10px;
}

.common-btn {
    margin-right: 20px;
    border-radius: 4px;
    border: none;
    background-color: var(--conflower-blue);
    color: #fff;
    cursor: pointer;
    padding: 12px;
    text-decoration: none;
    display:inline-block;
}

.common-btn i {
    background-color: var(--royal-blue);
    padding: 12px;
    margin-left: 10px;
    margin-right: -15px;
    padding-bottom: 12px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.common-btn:hover {
    background-color: var(--royal-blue);
}

.common-btn:hover i {
    background-color: var(--conflower-blue);
}

.Info-content {
    display: flex;
    align-items: center;
}

.Info-content-container {
    border: 1px solid rgba(94, 161, 252, 0.2);
    width: 97%;
    margin: 20px auto;
    display: flex;
    border-radius: 10px;
}

.Info-content-container:nth-child(3) {
    border: none;
}

.Info-Cards {
    flex: 1;
    border-right: 1px solid rgba(94, 161, 252, 0.2);
    border-radius: 10px;
}

.info-icon-container {
    width: 70px;
    height: 70px;
    margin: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-icon-container i {
    color: var(--conflower-blue);
    font-size: 40px;
}

.info-content-container {
    margin: 10px 20px;
}

.Info-Cards:hover {
    background-color: rgba(94, 161, 252, 0.2);
}

.Info-content-container .active {
    background-color: rgba(94, 161, 252, 0.2);
}

.info-title {
    font-size: 20px;
    line-height: 1.5;
}

.info-detail {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.5;
}

.info-detail i {
    color: var(--conflower-blue);
    margin-right: 20px;
}

.footer-content-container {
    margin: 10px 0px;
    padding: 0px 10px;
    box-shadow: 5px -5px 10px rgba(94, 161, 252, 0.2);
}

.footer-content {
    padding: 0px 10px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-icons {
    color: var(--royal-blue);
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}

.footer-icons:hover {
    color: var(--conflower-blue);
    font-size: 18px;
}

.copy-right-text {
    color: var(--royal-blue);
}

.contact-container{
    margin:10px 0px;
    padding: 0px 10px;
}

.contact-content{
    padding: 10px;
}

.contact-text{
    color:var(--royal-blue);
    margin-left: 10px;
    margin-right: 10px;
}

.form-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-md-6{
    width:50%;
    margin:10px;
}

.col-md-12{
    width:100%;
    margin:10px;
}

.form-control{
    margin: 10px 0px;
    width: 100%;
    height: 40px;
    background-color:rgba(94, 161, 252, 0.2) ;
    border:none;
    border-radius: 5px;
}

.form-text-area{
    margin: 10px 0px;
    width: 100%;
    background-color:rgba(94, 161, 252, 0.2) ;
    border:none;
    border-radius: 5px;
}

.form-control:focus-visible, .form-text-area:focus-visible{
    border: 1px solid var(--conflower-blue);
    outline: none;
}

.contact-btn-container{
    display:flex;
    justify-content: center;
}

.contact-btn{
    width:200px;
}

.contact-btn i{
    margin-left:100px;
}

.about-container{
    margin:0px 10px;
    padding:10px 0px;
}

.about-content{
    width:100%;
    display:flex;
    align-items: center;
}

.about-timeline-container{
    width:40%;
}

.about-content-container{
    width:60%;
}

.about-text{
    color:rgba(0, 0, 0, 0.5);
    margin: 10px 0px;
}

.about-title{
    color:var(--royal-blue);
    margin:10px 0px;
}

.about-short{
    color:rgba(1, 1, 1, 0.4);
    line-height: 1.8;
    margin:10px 0px;
}

.about-box{
    padding: 10px 20px;
    background-color: rgba(94, 161, 252, 0.2);
    border-radius: 10px;
    margin-bottom:20px;
}

.inverted{
    background-color: rgba(94, 161, 252, 0.4);
}

.about-box h3{
    color:var(--royal-blue);
    margin:10px 0px;
}
.about-box i{
    margin-right:10px;
}
.about-box p{
    color:rgba(1, 1, 1, 0.4);
    line-height: 1.8;
    margin: 10px 0px 10px 30px;
}

.portolio-content-container{
    margin:0px 10px;
    padding:10px 0px;
}

.tech-skill-box{
    min-height:400px;    
    padding:10px;
}
.skill-title{
    margin:10px;
    text-align: center;
    padding:10px 10px 0px 10px;
}
.skill-img-container{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-img-container figure img{
    width:60px;
    mix-blend-mode: multiply;
}

.skill-box{
    width:98%;
    background-color:rgba(94, 161, 252, 0.2) ;
    border-radius:20px;
}

.skill-box figcaption{
    text-align: center;
}

